  
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Shop-Cart</title>
    <link rel="stylesheet" type="text/css" href="cart.css" />
    <link
      rel="stylesheet"
      type="text/css"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    />
  </head>
  <body>
    <div class="container">
      <h1>Your Orders</h1>
      <div class="cart">
        <div class="products">
          <div class="product">
            <img
              src="https://images.pexels.com/photos/3729464/pexels-photo-3729464.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
              alt=""
            />
            <div class="product-info">
              <h3 class="product-name">Mercedes Benz</h3>
              <h4 class="product-price">$ 80,000</h4>
              <h4 class="product-address">Mumbai</h4>
              <p class="product-quantity">Qty : <input value="1" name="" /></p>
              <!-- <p class="product-remove">
                <i class="fa fa-trash" aria-hidden="true"></i>
                <span class="remove">Remove</span>
              </p> -->
            </div>
          </div>
          <div class="product">
            <img
              src="https://images.pexels.com/photos/2611686/pexels-photo-2611686.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
              alt=""
            />
            <div class="product-info">
              <h3 class="product-name">Harley Davidson</h3>
              <h4 class="product-price">$ 10,000</h4>
              <h4 class="product-address">Bengaluru</h4>
              <p class="product-quantity">Qty : <input value="2" name="" /></p>
              <!-- <p class="product-remove">
                <i class="fa fa-trash" aria-hidden="true"></i>
                <span class="remove">Remove</span>
              </p> -->
            </div>
          </div>
        </div>
        <div class="cart-total">
          <h2>Billing Address</h2>
          <p class="tot-margin">
            <span>Name</span>
            <span>Parth Vasudev</span>
          </p>
          <p>
            <span>Address</span>
            <span>Vrindhavan</span>
          </p>
          <!-- <a href="#">Proceed to Checkout</a> -->
        </div>
      </div>
    </div>
  </body>
</html>