<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Automobile Profile</title>
    <link rel="stylesheet" href="sede.css" />
    <script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
  </head>
  <body>
    <h1>Automobile Information</h1>
    <div class="wrapper">
      <div class="left">
        <img
          src="https://images.pexels.com/photos/2611686/pexels-photo-2611686.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
          alt="user"
        />
        <h4>Harley Davidson</h4>
        <p>
          Until you've been on a Harley-Davidson, you haven't been on a
          motorcycle
        </p>
      </div>
      <div class="right">
        <div class="info">
          <h3>Information</h3>
          <div class="info_data">
            <div class="data">
              <h4>Email</h4>
              <p>sampath@gmail.com</p>
            </div>
            <div class="data">
              <h4>Phone</h4>
              <p>001-213-998761</p>
            </div>
          </div>
        </div>

        <!-- <div class="projects">
            <h3>Projects</h3>
            <div class="projects_data">
                 <div class="data">
                    <h4>Recent</h4>
                    <p>Lorem ipsum dolor sit amet.</p>
                 </div>
                 <div class="data">
                   <h4>Most Viewed</h4>
                    <p>dolor sit amet.</p>
              </div>
            </div>
        </div> -->

        <div class="buttons">
          <ul class="butns">
            <li>
              <h3>QTY</h3>
              <div class="select">
                <select name="slct" id="slct">
                  <option selected disabled>Choose an option</option>
                  <option value="1">One</option>
                  <option value="2">Two</option>
                  <option value="3">Three</option>
                </select>
              </div>
            </li>
            <li>
              <button class="button"><span>Buy </span></button>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </body>
</html>